<div class="col-sm-11 col-sm-offset-1">
	<h3 class="page-header">Orders</h3>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Table 3</h3>
		</div>
		<ul class="list-group">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
			<li class="list-group-item">Morbi leo risus</li>
			<li class="list-group-item">Porta ac consectetur ac</li>
			<li class="list-group-item">Vestibulum at eros</li>
		</ul>
		<div class="panel-heading clearfix">
			<span class="pull-right">Total: $13.99</span>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Table 1</h3>
		</div>
		<ul class="list-group">
			<li class="list-group-item">Cras justo odio</li>
			<li class="list-group-item">Dapibus ac facilisis in</li>
		</ul>
		<div class="panel-heading clearfix">
			<span class="pull-right">Total: $10.45</span>
		</div>
	</div>
	<pre>{{awesomeThings}}</pre>
</div>