<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
      <meta name="apple-mobile-web-app-title" content="G for Gelato">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/push-component.css">
    <link rel="stylesheet" href="styles/animate.css">
    <!-- endbuild -->
  </head>
  <body ng-app="userViewApp" class="cbp-spmenu-push">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2" ng-controller="OrderCtrl">
      <h3>My Orders</h3>
      <div class="order-container col-xs-12">
          <ul>
              <li ng-repeat="order in myPlate track by $index">
                <button type="button" class="close pull-left" aria-hidden="true" ng-click="removeFromPlate(this.order, myPlate)">&times;</button>
                <div class="order-title"><span>{{order.title}}</span> <small>({{order.category}})</small></div>
                <span class="money pull-right">${{order.price | number : 2}}</span>
              </li>
          </ul>
          <div class="order-total">Total: <span class="money pull-right">${{myTotal | number : 2}}</span></div>
          <div class="order-button-block"><button class="btn btn-place-order" ng-click="order()">Order</button></div>
          <input type="number" ng-model="tableNum">
      </div>
    </nav>
    <!-- Add your site or application content here -->
    <nav id="main-nav" class="main-nav">
      <div class="container">
        <div class="logo pull-left"><a href="/#/main"><h4>G for Gelato</h4></a></div>
        <button id="showRightPush" class="btn-show-order pull-right top-10 toggle-right"><i class="fa fa-cutlery"></i></button>
      </div>
    </nav>
    
    <div class="slide" ng-view=""></div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src='https://cdn.firebase.com/v0/firebase.js'></script>
        <script src='https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js'></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/src/modernizr.custom.js"></script>
        <script src="scripts/src/classie.js"></script>
        <script>
          var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
            showRight = document.getElementById( 'showRight' ),
            showRightPush = document.getElementById( 'showRightPush' ),
            mainNav = document.getElementById( 'main-nav' ),
            body = document.body;

          showRightPush.onclick = function() {
            classie.toggle( this, 'active' );
            classie.toggle( body, 'cbp-spmenu-push-toleft' );
            classie.toggle( menuRight, 'cbp-spmenu-open' );
            classie.toggle( mainNav, 'cbp-main-right' );
          };
        </script>
        <!-- endbuild -->
</body>
</html>
