/* Basic quick styles */
.top-10 { margin-top: 10px }
.bot-10 { margin-bottom: 10px }
.clear-margins { margin: 0 }
.clear-padding { padding: 0 }
.container {
  position: relative;
  z-index: 1;
}
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    z-index: 10;
}
.slide.ng-leave {
    -webkit-transition: all 1.2s ease;
    -moz-transition: all 1.2s ease;
    -o-transition: all 1.2s ease;
    transition: all 1.2s ease;
    z-index: 0;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave {
    left: 0;
}
.slide.ng-leave-active {
    left: -100%;
}
/* Navigation */
.main-nav{
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* Main Page */
.background-image {
  height: 230px;
  background-position: center;
  position: relative;
}

.category-name{
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(74%, rgba(0,0,0,0.75)), color-stop(100%, rgba(0,0,0,0.75)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Item List Page */
.items-page{
  background: #fff;
}
.list-panel{
  border-bottom: 1px solid #ddd;
}

.list-panel .panel-body{
  padding: 20px 15px;
}

.panel-body .panel-body-title{
    font-size: 20px;
}

.panel-body .panel-body-description{
  font-size: 14px;
  color: #8192a2;
}

/* Mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
