/* Basic quick styles */
.top-10 { margin-top: 10px }
.bot-10 { margin-bottom: 10px }
.left-5 { margin-left: 5px }
.right-5 { margin-right: 5px }
.clear-margins { margin: 0 }
.clear-padding { padding: 0 }
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container {
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hidden {
  display: none;
}
/* Animation */
.slide {
  position: absolute;
  left: 0;
  top: 44px;
  width: 100%;
  height: 100%;
  z-index: 3;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 600ms;
          animation-duration: 600ms;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
          animation-timing-function: cubic-bezier(.1, .7, .1, 1);
}
.slide.ng-enter {
  -webkit-animation-name: slin-scroll;
          animation-name: slin-scroll;
  z-index: 5;
  pointer-events: none;
}
.slide.ng-leave {
  -webkit-animation-name: slout-scroll;
          animation-name: slout-scroll;
  z-index: 1;
  pointer-events: none;
}
.slide.ng-leave .container{
  opacity: 0.8;
}
/* Slide in */
@keyframes slin-scroll {
  from { transform: translateX(100%); }
  to   { transform: translateX(0);    }
}
@keyframes slout-scroll {
  from { transform: translateX(0);    opacity: 1;   }
  to   { transform: translateX(-25%); opacity: 0.9; }
}
@-webkit-keyframes slin-scroll {
  from { -webkit-transform: translateX(100%); }
  to   { -webkit-transform: translateX(0);    }
}
@-webkit-keyframes slout-scroll {
  from { -webkit-transform: translateX(0);    opacity: 1;   }
  to   { -webkit-transform: translateX(-25%); opacity: 0.9; }
}

/* Slide in Mask */
.scrollMask {
  width: 100%;
  position: absolute;
  top: 0;
  height: 520px;
  background-color: #000;
  -webkit-box-shadow: -15px 0 10px -5px rgba(0, 0, 0, 0.4);
          box-shadow: -15px 0 10px -5px rgba(0, 0, 0, 0.4);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
}
.scrollMask.ng-enter{
    -webkit-animation-name: slin-scrollMask;
            animation-name: slin-scrollMask;
}
@keyframes slin-scrollMask {
  from { transform: translateX(100%); box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);  }
  to   { transform: translateX(0);    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02); }
}
@-webkit-keyframes slin-scrollMask {
  from { -webkit-transform: translateX(100%); -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);  }
  to   { -webkit-transform: translateX(0);    -webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02); }
}
/* Navigation */
.main-nav{
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 20;
  height: 44px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-show-order{
  outline: none;
  background: transparent;
  border: none;
}
/* Main Page */
.background-image {
  height: 230px;
  background-position: center;
  position: relative;
}
.category-name{
  color: #fff;
  font-size: 18px;
  padding: 10px;
  background: rgba(0,0,0,0);
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(74%, rgba(0,0,0,0.75)), color-stop(100%, rgba(0,0,0,0.75)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 74%, rgba(0,0,0,0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Item List Page */
.items-page{
  background: #fff;
  min-height: 520px;
}
.list-panel{
  border-bottom: 1px solid #ddd;
}
.list-panel .panel-body{
  padding: 20px 15px;
  position: relative;
}
.panel-body-inner{
}
.panel-body .panel-body-title{
    font-size: 20px;
}
.panel-body .panel-body-description{
  font-size: 14px;
  color: #8192a2;
}
.panel-add-button{
  color: #77cc29;
  position: absolute;
  right: 8px;
  top: 20px;
  font-size: 20px;
}

/* Order Side Bar */
.order-container{
  margin-top: 20px;
  padding: 0 25px;
}
.order-container ul{
  list-style: none;
  padding: 0;
  font-size: 14px;
  line-height: 25px;
  position: relative;
  max-height: 300px;
  overflow: auto;
}
.order-container ul li{
  margin-bottom: 5px;
  padding-right: 17px;
}
.order-container ul li .order-title{
  max-width: 120px;
  display: inline-block;
}
.order-container .close{
  color: #b63923;
  opacity: 1;
  margin-right: 10px;
}
.order-container .order-total{
  background-image: url(../images/Reciept.svg);
  background-size: cover;
  height: 40px;
  padding: 10px 17px;
}
.money{
  color: #77cc29;
}
.order-button-block{
  margin-top: 15px;
}
.order-button-block .btn-place-order{
  width: 160px;
  height: 35px;
  background: #77cc29;
  color: #fff;
  border-radius: 2px;
  outline: none;
  margin-left: 30px
}

/* Mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
